[Unit]
Description=org.deepin.dde.XSettings1
RefuseManualStart=no
RefuseManualStop=no
CollectMode=inactive-or-failed

PartOf=dde-session-pre.target
Before=dde-session-pre.target
After=treeland-sd.service

[Service]
Type=dbus
BusName=org.deepin.dde.XSettings1
ExecStart=/usr/bin/deepin-service-manager -n org.deepin.dde.XSettings1
Restart=on-failure
RestartSec=3
Slice=session.slice
NotifyAccess=main
